a {
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.bold {
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 1rem;
}

.hover {
  border: #000 solid 1px;
  background: #000;
  color: #fff;
  padding: 10px 15px;
  font-size: 0.8rem;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}

.hover:hover {
  color: #343a40;

  background: #fff;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.btn-sm:hover {
  background: rgb(3, 108, 36);
  color: #fff;
}

.file-label {
  cursor: pointer;
}
.file-input {
  /* display: none; */
}

.margin-up {
  margin-top: 1rem;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}
